<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Практика</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <style>
        body {
            font-family: "Times New Roman", Times, serif;
        }

        input {
            width: 170px;
            height: 25px
            font-size: 16px
        }
    </style>
</head>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h1 style="text-align: center;">Добро пожаловать!</h1>
<p style="text-align: center;"><span th:unless="${user.name == ''}" th:text="|Вы вошли как ${user.name} (${user.login})|"></span>
<p style="text-align: center;"><span th:if="${user.name == ''}" th:text="|Вы вошли как ${user.login}|"></span>
<form action="/practice/out" method="post">
    <p style="text-align: center;"><input class="pure-button pure-button-active" width="500" type="submit" value="Выйти из системы" /></p>
</form>
<form action="/practice/admin" method="get">
    <p style="text-align: center;"><input class="pure-button pure-button-active" type="submit" value="Администрирование" />
</form>
</body>
</html>