<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <style>
        body {
            font-family: "Times New Roman", Times, serif;
        }
    </style>
</head>
<body>
<form action="/practice/" method="get">
    <p style="text-align: right;">&nbsp;<input class="pure-button" type="submit" value="На главную страницу" /></p>
</form>
<form class="pure-form" action="/practice/register" method="post">
    <p style="text-align: center;">&nbsp;</p>
    <h1 style="text-align: center;">Регистрация нового пользователя</h1>
    <p style="text-align: center;">Логин:&nbsp; &nbsp;<input required type="text" name="login" placeholder="Login">
    <p style="text-align: center;">Имя:&nbsp; &nbsp; &nbsp;&nbsp;<input type="text" name="name" placeholder="Name">
    <p style="text-align: center;">Пароль:
        <input type="text" id="password" name="password" required oninput="validatePassword()" minlength="7"
               pattern="(?=.*?[A-Z])(?=.*?[a-z])(?=.*\d)(?=.*[!?@#$%&^*\-_=+:;/|\\]).{7,}"
               title="Минимальная длина пароля должна составлять 7 символов. Пароль должен содержать хотя бы один из специальных символов !?@#$%&^*-_=+:;/|\, одну цифру символ и по одному символу латинского алфавита верхнего и нижнего регистра."
               placeholder="Password">
    </p>
    <p style="text-align: center; position: relative; left: -37px;">Повторите пароль:
        <input type="text" required id="confirm_password" oninput="validatePassword()"
               title="Пароли должны совпадать."
               placeholder="Confirm Password">
    </p>
    <script language="JavaScript" type="text/javascript">
        function validatePassword(){
            if(document.getElementById("password").value != document.getElementById("confirm_password").value) {
                document.getElementById("confirm_password").setCustomValidity("Пароли должны совпадать.");
            } else {
                document.getElementById("confirm_password").setCustomValidity('');
            }
        }
    </script>
    <p style="text-align: center; color: red;"><span th:text="${errorMessage}"></span></p>
    <p style="text-align: center;"><input class="pure-button pure-button-active" type="submit" value="Зарегистрироваться"></p>
</form>
</body>
</html>